* {
	width: 80vw;
	height: 80vh;
	overflow: hidden;
}

.gridcontainer {
	display: grid;
	grid-template-columns: 15vmax 15vmax 15vmax 15vmax 15vmax;
	grid-template-rows: 15vmax 15vmax 15vmax 15vmax 15vmax;
}

.gridbox1 {
	background-color: blue;
}

.gridbox2 {
	background-color: orange;
}

.gridbox3 {
	background-color: blue;
}

.gridbox4 {
	background-color: orange;
}

.gridbox5 {
	background-color: blue;
}

